h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*navigation-menu*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  justify-content: space-between;
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 454px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
}
.navigation-list {
  display: flex;
  gap: 40px;
}

.menu-head-current-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
  .current{
  color: #404bbf;
  }
  .current::after{
  content: '';
  position: absolute;
  left: 0; 
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  }
.contacts {
  background-color: #ffffff;
  font-style: normal;
}
.mail-tel {
  display: flex;
  gap: 40px;
}
.mail-and-tel {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-and-tel:hover {
  color: #404bbf;
}
.mail-and-tel:focus {
  color: #404bbf;
}
.container-header {
  display: flex;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: o auto;
  align-items: center;
}
.navigation {
  align-items: center;
}

/*main-page-button*/
.main-page {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg.jpg');
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-page-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}
.button {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/*features*/
.features {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-container {
  padding-left: 15px;
  padding-right: 15px;
}
.all-features-list {
  display: flex;
  gap: 24px;
}
.feature {
  flex-basis: calc((100% - 72px) / 4);
}
.feature-name {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.feature-list-link {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #F4F4FD;
   border: 1px solid #8e8f99;
   margin-bottom: 8px;
}


/* team */
.team-information {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-inf-container {
  padding-left: 15px;
  padding-right: 15px;
}
.our-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  width: calc ((100% - 72px) /4);
}
.team-member-container {
  padding: 32px 0;
}
.team-member {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.position {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-member-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.team-member-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-list-link:hover,
.team-member-list-link:focus {
  background-color: #404bbf;
}
.team-member-list-icon {
  fill: #f4f4fd;
}
/* portfolio */
.portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-container {
  padding-left: 15px;
  padding-right: 15px;
}
.our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.projects-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project {
  width: calc ((100% - 96px) /6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .overlay {
  transform: translateY(0%);
}

.portfolio-border {
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  padding: 32px 16px;
}
.project-name {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.kind-of-project {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */
.bottom-section-container {
display: flex;
align-items: baseline;

}
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer-container {
  padding-left: 155px;
  margin-right: 120px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-span-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-media {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.social-list {
  display: flex;
  gap: 16px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #31d0aa;
}
.social-list-icon{
  fill: #f4f4fd;
}
.form-container{
  margin-left: 80px;
}
.footer-subscribe{
  color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
   
}
.footer-mail-form{
  display: flex;
  gap: 24px;
}
.footer-form-input{
  width: 264px;
  height: 40px;
border-radius: 4px;
  border: 1px solid  #FFF;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.footer-form-input::placeholder{
  color #ffffff;
}
  .footer-form-input:focus {
outline: transparent;
  }
.form-btn-foooter {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 165px;
  height: 40px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send-icon{
margin-left: 16px;
}
/* backdrop */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* modal window */
.modal{
  position: absolute;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #FCFCFC;
  padding: 72px 24px 24px 24px; 
  transform: translate(-50%,-50%);  
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  line-height: 0;
  background-color: transparent;
  padding: 0;
  border: none;
  stroke: #2E2F42;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.close-btn:hover,
.close-btn:focus{
stroke: #4D5AE5;
background-color: #404bbf;
border: none;
fill: #ffffff;
}
.close-btn-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* modal form */
.feedback{
  color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    line-height: 1.5;
}
.contacts-form-wrapper{
  margin-bottom: 8px;
}
.contacts-form-field-label{
  display: block;
  color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    margin-top: 8px;
}
.form-input-wrapper{
  position: relative;
}
.contacts-form-input{
width: 100%;
height: 40px;
border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.contacts-form-input:focus,
.contacts-form-input:hover{
border-color: #4D5AE5;
outline: transparent;
}
.contacts-form-icon{
  fill: #2E2F42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-input:focus + .contacts-form-icon{
  fill: #4D5AE5;
}
.contacts-form-field-wrapper{
  margin-bottom: 16px;
}
.contacts-form-field{
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  padding: 8px 16px 8px 16px;
  resize: none;  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color:  rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    background-color: transparent;
    outline: transparent;
}
.contacts-form-field::placeholder{
  color: rgba(46, 47, 66, 0.40);
}
.contacts-form-field:focus {
  border-color: #4D5AE5;
  outline: transparent;
}
.form-checkbox-label{
  color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-right: 22px;
    line-height: 1.17;
}
.form-privacy-link{
  color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}
.form-checkbox-wrapper{
  margin-bottom: 24px;
}
.form-own-checkbox{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .form-checkbox-label > .form-own-checkbox{
background-color: #404bbf;;
fill: #F4F4FD;
border: none;
}
.form-checkbox:focus+.form-checkbox-label>.form-own-checkbox {
outline: 2px solid rgba (0, 0, 255, 0,5) ;
}
.form-submit {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}
